body{
      background-color: #EAF6f6;
    }
hr{
      border-style: none;
      border-top-style: dotted;
      width: 10%;
      border-color: #384259;
      border-width: 5px;
  }
img{
       height: 200px
      
  }
h1{
  color:#66BFBF;
}  
h3{
  color: #66BFBF;
}